* {
  text-align: center;
  font-family: "Dancing Script", cursive;
  background-color: lightblue;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}
